.gradient {
    background-image: linear-gradient(to bottom,
    #4F1278 0%,
    #521B65 15%,
    #42194F 27%,
    #2B1134 47%,
    black 100%
    );
    background-repeat: no-repeat;
    background-color: black;
}

* {
    font-family: 'Inter', sans-serif, semi-bold;
    font-weight: 700;
    color: white;
}

#nav {
    padding: 1em;
}

#home:hover {
    text-decoration: underline;
}
body, span {
    font-size: 3rem;
}
h1 {
    font-size: 1.5em;
    font-weight: 900;
    -webkit-text-stroke: 3px white;
}
h2 {
    font-size: 1.2em;
    font-weight: 600;
    -webkit-text-stroke: 3px white;
}
main {
    margin: 2vw 10vw;
    width: auto;
    height: calc(100vh - 20vw);
    display:flex;
    align-content: center;
    flex-direction: column;
}

button {
    color: black;
    border-radius: 16px;
    background-color: #D9D9D9;
    box-shadow: 12px 12px #B197FF;
    padding: 0.3em;
    font-size: inherit;
    border: none;
    width: 6em;
}

button:hover {
    background-color: white;
    box-shadow: none;
    transition: all 1s ease-out;
}

img {
    max-width: 70%;
}

.toggle {
    background: none;
    box-shadow: none;
    color: #B197FF;
}